@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background: #76b852;
  background: -webkit-linear-gradient(right, #76b852, #8dc26f);
  background: -moz-linear-gradient(right, #76b852, #8dc26f);
  background: -o-linear-gradient(right, #76b852, #8dc26f);
  background: linear-gradient(to left, #76b852, #8dc26f);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  float: left;
  margin: 10px auto;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #e7e7e7;
  color: black;
  width: 200px;
  border: 0;
  padding: 15px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.lista_contato {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  height: 120px;
}

div {
  text-align: center;
}

h1 {
  width: 100px auto;
}

.tabela_contato {
  text-align: center;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border-collapse: collapse;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

td,th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 12px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.option-page {
  padding: 5px;
  overflow: auto;
  width: auto;
  height: auto;
}

.search { 
  float: right;
  background-color:#f2f2f2;
  border:solid 2px;
  border-radius:15px;
  border-color: #999;
  margin-top: 15px;
  height: auto;
  width:auto;
}

.search input {
  float:left;
  color: rgb(136, 127, 127);
  background-color:transparent;
  margin: 7px 10px 0 20px;
  font-size:18px;
  border:none;
  height: auto;
  width: 120px;
  outline: none;
  font-size: 12px;
}

.search input::-webkit-input-placeholder {
  color: rgb(136, 127, 127);
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: rgb(136, 127, 127) !important;
}

.search button {
  background-color: transparent;
  border: none;
  height: 30px;
  width: 30px;
}

#search-icon{
  max-width: 15px;
  max-height: 15px;
  height: auto;
  width: auto;

}

.lista_contato a {
  text-decoration: none;
  background-color: #e4dede;
  padding: 3px 8px 3px 8px;
  color: #444;
  border: #999 solid 1px;
  font-size: 13px;
}

.lista_contato a:hover {
  background-color: #e2d8d8;
  border: #bbb solid 1px;
  color: #555;
}