@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background: #76b852;
  background: -webkit-linear-gradient(right, #76b852, #8dc26f);
  background: -moz-linear-gradient(right, #76b852, #8dc26f);
  background: -o-linear-gradient(right, #76b852, #8dc26f);
  background: linear-gradient(to left, #76b852, #8dc26f);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  background: white;
  margin: 20px 0;
  padding: 10px;
}

.mensagem {
  margin: 0 auto;
  width: 200px auto;
  padding: 20px;
  color: white;
  background: black;
  text-align: center;
}

h1 {
  width: 400px auto;
}

.button {
  margin: 10px auto;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #e7e7e7;
  color: black;
  width: 200px;
  border: 0;
  padding: 15px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
